---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";
import CourseInfo from "@/components/CourseInfo.astro";
import { SITE_DESCRIPTION, SITE_TITLE, SECTION_ID } from "@/config";
import SpeechBubble from "@/components/SpeechBubble.astro";
import Colophon from "@/components/Colophon.astro";
---

<Layout title={`${SITE_TITLE}: ${SECTION_ID}`} description={SITE_DESCRIPTION}>
  <header>
    <div class="course-info flex flex-col">
      <CourseInfo />
      <h1>{SITE_TITLE}<br />{SECTION_ID}</h1>
    </div>
  </header>
  <main>
    <Nav />
    <SpeechBubble align="left" pointDirection="bottom-center">
      Your text here - can be as long as you need!
    </SpeechBubble>
    <iframe
      src="./P5Background"
      title="P5 Background Animation"
      class="w-full max-w-[600px] m-auto !aspect-video"></iframe>
  </main>
  <Colophon />
  <Footer />

  <!-- <div id="third-column">
    <HallofFame />

  </div>
  <Marquee text={MARQUEE_TEXT} speed="slow" direction="right" /> -->
</Layout>
