---
import {
  SITE_AUTHOR,
  SEMESTER,
  MEETING_TIMES,
  SCHOOL_NAME,
  DEPARTMENT_NAME,
  LOCATION,
  EMAIL,
} from "@/config";
---

<div
  class="course-info grid lg:grid-cols-4 gap-4 md:gap-10 mb-10 border-b border-t py-8"
>
  <section class="course-header">
    <p>{SCHOOL_NAME}</p>
    <p>{DEPARTMENT_NAME}</p>
    <p>{SEMESTER}</p>
  </section>

  <section>
    <p>Instructor: {SITE_AUTHOR}</p>
    <p><a href={`mailto:${EMAIL}`}>{EMAIL}</a></p>
    <p>
      <a href="https://calendar.app.google/xUjKVCYkB6HixhLBA">Office Hours</a>
    </p>
  </section>

  <section>
    <p>{MEETING_TIMES}</p>
    <p>{LOCATION}</p>
  </section>

  <section class="quick-links text-left">
    <ul>
      <li>
        <a href="https://chat.google.com/room/AAQAxKXU0Zg?cls=7"
          >Google Chat Group</a
        >
      </li>
      <li>
        <a
          href="https://docs.google.com/document/d/1_OgIbzypci5Igs0OLjskwfylSGkrTGyD-v8vNgs1oqk/edit?usp=sharing"
          >Syllabus</a
        >
      </li>
    </ul>
  </section>
</div>
<style>
  .course-info :global(a) {
    border-bottom: 2px dotted var(--color-accent);
  }
</style>
