---
import {
  SITE_AUTHOR,
  SEMESTER,
  MEETING_TIMES,
  SCHOOL_NAME,
  DEPARTMENT_NAME,
  LOCATION,
  EMAIL,
} from "@/config";
---

<div class="course-info">
  <section class="course-header">
    <h2 class="heading-3">{SCHOOL_NAME}</h2>
    <p>{DEPARTMENT_NAME}</p>
    <p>{SEMESTER}</p>
  </section>

  <section class="course-details">
    <h2 class="heading-3">Course Details</h2>
    <ul>
      <li>{MEETING_TIMES}</li>
      <li>{LOCATION}</li>
    </ul>
  </section>

  <section class="instructor-info">
    <h2 class="heading-3">Instructor</h2>
    <p>{SITE_AUTHOR}</p>
    <p><a href={`mailto:${EMAIL}`}>{EMAIL}</a></p>
  </section>
</div>

<section class="quick-links">
  <h2>Quick Links</h2>
  <ul>
    <li>
      <a href="https://tech-a.designfuture.space/">Big Class Site</a>
    </li>
    <li>
      <a
        href="https://docs.google.com/document/d/1V9nxK6PoB8wluhPxLffbCVMmlGgQ1-Wh-_jDgGlq9pY/edit?usp=sharing"
        >Syllabus</a
      >
    </li>
    <li>
      <a
        href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ3hNfeyV1rkVw-8eeygKPAr3zw6m_Byqlsu1X-gh2eADZnjIlh5GDxDZosqFcRDZHCRIlxmIVRX"
        >Office Hours</a
      >
    </li>
    <li>
      <a href="https://beta.p5js.org/">p5.js</a>
    </li>
    <li>
      <a href="https://editor.p5js.org/">p5.js Editor</a>
    </li>
  </ul>
</section>
